<div class="navbar navbar-fixed-top"style="height:30px">
  <div class="navbar-inner" style="height:30px;padding-top: 10px;">
    
    <div style = "margin-left :10px;">
      <b style="font-size:15px;color:white;margin-left:30px"><%= link_to "Home", welcome_events_path%> &nbsp; &nbsp;<%= link_to "Dashboard", dashboard_events_path%></b></font>
    </div>

    <div class="nav-collapse pull-right">
      <ul class="nav" style="margin:-30px 10px 0 0;">
        <li class="active"></li>
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle";
            data-toggle="dropdown";>
              <b><font color= "white" size="2px">
                Welcome, <%= current_user.email %>
              </font></b>
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li> <%= link_to "Sign out", destroy_user_session_path , :method => :delete%> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>    
</div>

<br>
<br> 
<br>