<%= form_for (@event), :html => {:id => "event_form"} do |f|  %>
  <table>
    <tr>
      <td>
        <div>
            <b><font size="3px">Title</font></b><br/>
            <%= f.text_field :title %>
        </div>
      </td>
      <td>  
        <div id='em_title' class = "errors">
        </div>
      </td>
    </tr>

    <tr>
      <td> 
        <div>
          <b><font size="3px">Select Event's Category:</font></b><br/>
          <%=collection_select(:event, :category_id, Category.all, :id, :name) %>
        </div></br>

        <div>  
          Want to add a new Category ? <%= check_box_tag 'new_category_check' %>
        </div>

        <div id ="add_new_category" style="display: none;">
          <div class="well span3" style ="margin-right: 100px">
            <div><b><font size="3px">New Category </font></b><br/>
              <%= text_field_tag :new_category_name %></div><br/>

            <div><b><font size="3px">New Category Description</font></b><br/>
              <%= text_field_tag :new_category_description %></div><br/>
          </div>
        </div>
      </td>
    
      <td>
        <div id='em_category' class = "errors">
        </div> 
      </td>  
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Description</font></b><br/>
          <%= f.text_area :description , :rows => 5 %>
        </div> 
      </td>
      
      <td>  
        <div id='em_description' class = "errors" >
        </div>
      </td>
    </tr>    

    <tr>
      <td>
        <div>
          <b><font size="3px">Add Activities</font></b><br/>
            <%= select_tag "activities", options_for_select(@activities.collect{|activity| [activity.title, activity.id]}, @event.activities.collect{|e| e.id}),{:multiple => true} %>
        </div><br/>
        <div>
          Want to add a new Activity? <%= check_box_tag 'new_activity_check' %>
        </div>

        <div id ="add_new_activity" style="display: none;">
          <div class="well span3" style ="margin-right: 100px"> 
            <div><b><font size="3px">New Activity Title</font></b><br/>
              <%= text_field_tag :new_activity_title %></div><br/>

            <div><b><font size="3px">New Activity Description</font></b><br/>
              <%= text_field_tag :new_activity_description %></div><br/>  
          </div>
        </div>
      </td>

      <td> 
        <div id='em_activities' class = "errors"> </div> 
      </td>  
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Start Date </font></b><br/>
          <%= f.text_field :start_date, :readonly => true%>
        </div>
      </td>
      
      <td>  
        <div id='em_start_date' class = "errors">
        </div>
      </td>  
    </tr>
    
    <tr>
      <td>
        <div>
          <b><font size="3px">End Date </font></b><br/>
          <%= f.text_field :end_date, :readonly => true %>
        </div>
      </td>
      
      <td>  
        <div id='em_end_date' class = "errors">
        </div>
      </td>
    </tr>    

    <tr>
      <div style="height: 20px">
      </div>
    </tr>

    <tr>
      <td>
        <div id = "event_form_submit" class="actions" ><%= f.submit%>
        </div>
      </td>
    </tr>        
  </table>
<%end%>

