<%= form_for (@event), :html => {:id => "event_form"} do |f| %>
  <table>
    <tr>
      <td>
        <div>
            <b><font size="3px">Title</font></b><br/>
            <%= f.text_field :title %>
        </div>
      </td>

      <td>  
        <div id='em_title' class = "errors">

        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Select Event's Category:</font></b><br/>
          <%=collection_select(:event, :category_id, Category.all, :id, :name) %>
        </div></br>

        <div>
          Want to add a new Category ? <%= check_box_tag 'new_category_check' %>
        </div>

        <div id ="add_new_category" style="display: none;">
          <div class="well span3" style ="margin-right: 100px">
            <div><b><font size="3px">New Category </font></b><br/>
              <%= text_field_tag :new_category_name %></div><br/>

            <div><b><font size="3px">New Category Description</font></b><br/>
              <%= text_field_tag :new_category_description %></div><br/>
          </div>
        </div>
      </td>

      <td>

        <div id='em_category' class = "errors">
        </div> 
      </td>  

    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Description</font></b><br/>
          <%= f.text_area :description , :rows => 5 %>
        </div>
      </td>

      <td>  
        <div id='em_description' class = "errors" >

        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div>
           <%= link_to "Add Activity", other_activity_events_path, {:remote => true, :id => "other_activity", :method => :get} %> <div id = "new_activity"></div>
        </div>
      </td>

      <td> 
        <div id='em_activities' class = "errors"> </div> 
      </td>  
    </tr>

    <tr>
      <td>
        <div style= "height:20px">
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Start Date </font></b><br/>
          <%= f.text_field :start_date, :readonly => true%>
        </div>
      </td>

      <td>  
        <div id='em_start_date' class = "errors">

        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">End Date </font></b><br/>
          <%= f.text_field :end_date, :readonly => true %>
        </div>
      </td>

      <td>  
        <div id='em_end_date' class = "errors">

        </div>
      </td>
    </tr>

    <tr>
      <span class="timeEntry_control" style="display: inline-block; background: url("img/spinnerDefault.png") no-repeat scroll 0px 0px transparent; width: 20px; height: 20px;" title="Next field"></span>
    </tr>

    <tr>
      <td>
        <div>
          <b><font size="3px">Start Time </font></b><br/>
          <%= f.text_field :start_time%>
        </div>
      </td>

      <td>  
        <div id='em_start_time' class = "errors">

        </div>
      </td>
    </tr>


    <tr>
      <td>
        <div>
          <b><font size="3px">End Time </font></b><br/>
          <%= f.text_field :end_time%>
        </div>
      </td>

      <td>  
        <div id='em_end_time' class = "errors">

        </div>
      </td>
    </tr>







    <tr>
      <div style="height: 20px">
      </div>
    </tr>

    <tr>
      <td>
        <div id = "event_form_submit" class="actions" ><%= f.submit%>
        </div>
      </td>
    </tr>
  </table>
<%end%>
