<div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <div id="menu1">
        <ul>
          <li class="current_page_item"><a href="gallery.html">Gallery</a></li>
        </ul>
      </div>
      <div id="logo">
        <h1 style="color:white">MFC</h1>
        <p> McKinsey Fun Committee </p>
      </div>
      <div id="menu2">
        <ul>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
<!-- end #header -->
  </div>

  
<div id="welcome">
  <%if @events.blank?%>
    <h2><h2 style="line-height: 100px;">No Events</h2></h2>
  <%else%>
    <% @events = Event.find(:all, :order => 'start_date').reverse%>
    <%@events.each do |event|%>
      <h2 id=""><%= event.title%></h2>
      <div class="entry" style="padding-bottom: 60px;">
        <p><%=event.description%></p>
        <p>Date of Event : <%=event.start_date.to_date%></p>
        
      </div>
      <div id="page">
      <div id="column1">
        <%if event.activities.count > 0%>
        <% event.activities.each do |eA|%>
          <h2> <%= eA.title %></h2>
          <p style="color:black;"><%= eA.description %></p>
        <%end%>
          <%else%>
          <h2>No Activities Added</h2>
          <%end%>
      </div>
      </div>

    <%end%>
    <%end%>
</div>
<!-- end #page -->


</div>

<!-- end #menu -->
<!--div id="three-columns">
<div id="column1">
<h2>Floor Meets</h2>
<p>Every month MFC organizes a ODC floor meet in which the HR updates all the associates regarding any HR activity for that particular month. Introduction of the new joinees in ODC is an exciting task in it. <br/> Floor meets also have a fun @ work activity planned for each in which whole of the ODC participates. </p>

</div>
<div id="column2">
<h2>Annual Event</h2>
<p>Every year a 3-day long annual event is planned which comprises of many activites like treasure-hunt, talent show, ODC decoration. <br> This happens mostly at the end of the year, mainly in November - December. <br> Its a large scale event which every associate looks forward to.
</p>
</div>
<div id="column3">
<h2>ODC Outing</h2>
<p>ODC level outings and picnics are planned for associates. <br>Many trip have been planned for the ODC to distant places like Malshej ghats, Nagothane and Lonavla.<br> These trips have interesting activities throughout.</p>
</div>
</div-->
<div id="footer-dash">
<p>MFC</p>
</div>
