<div id="wrapper-dash">
  
  <div id="header-wrapper-dash">
    <div id="header-dash">
      <div id="menu1">
        <ul>
          <li class="current_page_item"><%=link_to "Gallery", gallery_events_path%></li>
        </ul>
      </div>
      <div id="logo">
        <h1 style="color:white"><%=link_to "M.F.C", dashboard_events_path%></h1>
        <p>Firm Fun Committee</p>
      </div>
      <div id="menu2">
        <ul>
          <li><%=link_to "Contact Us", contact_us_events_path%></li>
        </ul>
      </div>
    </div>
  </div>

  
<div id="welcome">
  <%if @events.blank?%>
    
    <h2><h2 style="line-height: 100px;">No Events</h2></h2>

  <%else%>
    <% @events = Event.find(:all, :order => 'start_date').reverse%>
    <% @events.each do |event|%>
      <div>
        <font size="5px"><b><%= event.title.titleize%></b></font> &nbsp <font size ="3px">(<%=event.start_date.to_date.strftime('%d %b %Y')%>)</font>
      </div>
        
      <div class="entry" style="padding-bottom :10px; padding-top :10px">
        <p><%=event.description%></p>    
      </div>

      <div class="entry" style="padding-bottom :60px; padding-top :10px">
        <p>Activities Happened:</p>    
      </div>

      <div id="page-dash">
          <%i = 0%>
          <%if event.activities.count > 0%>
            <% event.activities.each do |eA|%>
              <%if i%3 == 0 %>
                <div id="column1">
                  <h4><%= eA.title.titleize %></h4>
                  <p style="color:white;"><%= eA.description%></p>
                </div>
              <%end%>
            
              <%if i%3 == 1 %>
                <div id="column2">
                  <h4><%= eA.title.titleize %></h4>
                  <p style="color:white;"><%= eA.description%></p>
                </div>
              <%end%>
            
              <%if i%3 == 2%>
                <div id="column3">
                  <h4> <%= eA.title.titleize %></h4>
                  <p style="color:white;"><%= eA.description%></p>
                </div>
              <%end%>

              <%i = i+1 %>
            <%end%>
          <%else%>
            <div id="column1" style="float:left;">
              <h2>No Activities Added</h2>
            </div>
          <%end%>
      </div>

    <%end%>
  <%end%>
</div>

    
</div>
<div id="footer-dash">
  <p>M.F.C</p>
</div>
