<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
<%if @events.blank? %>
<div>
</div>
<%else%>
<div style="overflow:auto;">
    <table border ="1px" id="event_list_table" align = "center">
      <thead>
        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><b>Event ID</b></td>
          <td style=" min-width: 20px "><b>Title </b></td>
          <td style=" min-width: 20px "><b>Expenses</b></td>

          <td style=" min-width: 20px "><b> Delete </b></td>
        </tr>
      </thead>

      <%@events.each do |event|%>
        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><%= event.id%></td>
          <td style=" min-width: 20px "><%= link_to "#{event.title}", event_path(event) %></td>
          <td style=" min-width: 20px "><%= link_to "Expenses", event_expenses_path(event) %></td>

          <td style=" min-width: 20px "><%= link_to (image_tag ("delete.png")), event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <%end%>
    </table>
</div>
<%end%>  
<div style = "margin-top: 20px; margin-left: 250px">
<%= link_to 'Create New Event', new_event_path %><br/>
</div>
</div>    