<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
<div>
  <h2> <%= @event.title.capitalize %> </h2>
</div>
  <div>
    <div><b><font size="2px">Type Of Event:</font></b>
      <%  @category = Category.find(@event.category_id)%>
      <%=  @category.name%>
      <%= get_event_category_name(@event.category)%></div><br/>  

    <div><b><font size="2px">Description:</font></b>
      <%= @event.description.capitalize %></div><br/>

    <div><b><font size="2px">Activites:</font></b><br/>
      <% @event.activities.each do |eA|%>
       <%= eA.title %><br/>
      <%end%>
    </div><br/>

    <div><b><font size="2px">Expenses:</font></b><br/>
      <% @event.expenses.each do |eE|%>
       <%= eE.amount %><br/>
      <%end%>  
    </div><br/>

    <div><b><font size="2px">Start Date: </font></b>
      <%= @event.start_date.to_date %></div><br>

    <div><b><font size="2px">End Date: </font></b>
      <%= @event.end_date.to_date %></div><br/>
    
    <div style="height: 20px">
    </div>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>