<div class= "well pull right span8" style = "min-height:500px; margin-left:50px">
<%if @categories.blank? %>
<div>
</div>
<%else%>
<div style="overflow:auto;">
    <table border ="1px" id="activity_list_table" align = "center" >
      <thead>
        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><b>Category ID</b></td>
          <td style=" min-width: 20px "><b>Category Name</b></td>
          <td style=" padding-right: 5px; padding-left: 5px; max-width: 250px "><b>Description </b></td>
          <td style=" min-width: 20px "><b> Edit </b></td>
          <td style=" min-width: 20px "><b> Delete </b></td>
        </tr>
      </thead>

      <% @categories.each do |category|%>
        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><%= category.id%></td>
          <td style=" min-width: 20px "><%= category.name%></td>
          <td style=" padding-right: 5px; padding-left: 5px; max-width: 250px"><%= category.description%></td>
          <td style=" min-width: 20px "><%= link_to "Edit", edit_category_path(category)%></td>
          <td style=" min-width: 20px "><%= link_to (image_tag ("delete.png")), category, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
        </tr>
      <%end%>
    </table>
  </div>
  <%end%>
  <div style ="margin-top :10px;  margin-left :90px">
  <%= link_to 'Create New Event Category ', new_category_path %> <br>
  <%= link_to 'Back', events_path %>
</div>
  </div>