<html>
<head>
  <title>M.F.C</title>
  <%#= javascript_include_tag%>
 
  <%= stylesheet_link_tag "application" ,"jquery-ui-1.8.21.custom","style", "colorbox", "flexslider", "jquery.timeentry", :media => "all" %>
  <%= javascript_include_tag  :defaults ,"application","customize_MFC","jquery-ui-1.8.21.custom.min", "jquery.colorbox", "jquery.flexslider", "validations_MFC", "jquery.timeentry"%>
 <%= csrf_meta_tag %>
</head>

<body>

  <p id="devise_alert"><%= alert %></p>
  <p id="devise_notice"><%= notice %></p>
  <%if  user_signed_in? %>
   <%= render 'shared/header' %>
  <%else%>
    
      <b style="color:gray; margin-right: 20px;margin-left: 87%;" ><%= link_to 'Admin Sign-in', new_user_session_path, :target => "_blank" %></b>
  

<%end%>

  <%= yield %>
</body>

</html>
